.box{
    padding-top: 5vh;
    background-color: #203D37;
    min-height: 90vh;
    min-width: 17vw;
    
}
.admin-menu{
    display: flex;
    flex-direction: column;
    color: white !important;
}
.item-title{
    color: white !important;
    font-weight: 400 !important;
    padding: 8px !important;
    padding-left: 50px !important;
    font-size: 14px !important;
}
.item-title:hover{
    background-color: #2D524A;
}