*{
  font-family: 'Source Sans Pro', sans-serif;
}
.App {
  background-color: #e2ebf0;
  min-height: 100vh;
  /* background-image: url("https://image.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */
}
